MONGODB_URI=
GOOGLE_OAUTH_CLIENT_ID=
ALLOWED_EMAIL_DOMAINS=automation.cloud,ub.io,ubio.ai
# openssl rand -hex 32
JWT_SECRET=
# Set to "true" to skip login entirely — LOCAL DEVELOPMENT ONLY
# AUTH_DISABLED=true
